/* Nav  Start*/

*{
    font-family: "Syne", sans-serif;
}

h1 {
    color: blue
}

.navbar {
    padding: 0px 0px 8px 0px;
}

.navbar-brand {
    color: blue;
}

.nav-item a:hover {
    color: #0d6efd;
}

.container-fluid {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
/* Nav  End*/


/* Hero Tab Start */

.hero-section {
    background-color: #f8f9fa;
    padding: 5rem 0;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.hero-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero-image {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    animation: fade-in 2s forwards;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}


.faq-container {
    margin-top: 30px;
}

.faq-content {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 8px 8px 8px 8px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}



@media (max-width: 767.98px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-description {
        font-size: 1rem;
    }

    .hero-image {
        margin: 2rem auto 0;
    }
}

/* Hero Tab End */


/* Main Card Start */





/* Footer */

.amodinocopyright {
    color: #6c757d;
    font-size: 0.85rem;
    margin-top: 20px;
    padding-top: 20px;
        border-top: 1px solid #eee;
}

/* Footer End*/